# OneSignal Configuration
VITE_ONESIGNAL_APP_ID=99bf2974-08db-4721-9159-13469eaa3440
VITE_ONESIGNAL_REST_API_KEY=os_v2_app_tg7ss5ai3ndsdekzcndj5kruidhzmugmuw4e6enpzfewbv2v6ogb3hbny5nrqxvc54spluwxkt4hnuiw6nkl3fwd4jeyxxvpwexalii
